body{
    width:auto;
    height: auto;
    min-height: 695px;
    background-image:linear-gradient(violet,purple) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    background-color: black;
    width: 20px;
    height: 310px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 0px 10px ;
    transition: width 0.6s;
    filter: brightness(0);
}
img:hover{
    width: 220px;
    transition: width 0.6s;
    filter: none;
}
